In [1]:
import os
from tkinter import Tk
import pandas as pd

In [2]:
def reading_csv():
    #os.rename('C:/Users/asus/OneDrive - IIIT Bhopal\Documents/GitHub/Transaction-graphs/training_set.xls', 'C:/Users/asus/OneDrive - IIIT Bhopal\Documents/GitHub/Transaction-graphs/training_set.csv')
    csv_reader = pd.read_csv(r"C:/Users/asus/OneDrive - IIIT Bhopal\Documents/GitHub/Transaction-graphs/training_set.csv", header=20)
    return csv_reader

In [3]:
def creating_table(csv):
    print()

In [4]:
if __name__=="__main__":
    csv = reading_csv()
    print(csv.head())

                                                                 6 Apr 2020\t6 Apr 2020\t   TO TRANSFER-UPI/DR/009737826388/Paytm Ai/PYTM/payair7673/Oid10--\tTRANSFER TO 5097507162092\t219.00\t \t624.82
7 Apr 2020\t7 Apr 2020\t   BY TRANSFER-Aditya--... 000.00\t3                                                624.82
7 Apr 2020\t7 Apr 2020\t   TO TRANSFER-UPI/DR/0... 511.00\t \t2                                             113.82
8 Apr 2020\t8 Apr 2020\t   BY TRANSFER-UPI/CR/0... 118.82                                                      NaN
9 Apr 2020\t9 Apr 2020\t   BY TRANSFER-UPI/CR/0... 358.82                                                      NaN
9 Apr 2020\t9 Apr 2020\t   BY TRANSFER-UPI/CR/0... 598.82                                                      NaN

In [5]:
df = pd.read_table(r"C:/Users/asus/OneDrive - IIIT Bhopal\Documents/GitHub/Transaction-graphs/training_data.xls", header=19, skipfooter=2)
df.fillna(0, inplace=True)
for a in df.columns:
    df[a] = df[a].replace([" "],0)
df

C:\Users\asus\anaconda3\lib\site-packages\pandas\io\parsers.py:765: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  return read_csv(**locals())

,Txn Date,Value Date,Description,Ref No./Cheque No.,Debit,Credit,Balance
0,06-Apr-20,06-Apr-20,TO TRANSFER-UPI/DR/009737826388/Paytm Ai/PY...,TRANSFER TO 5097507162092,219,0,624.82
1,07-Apr-20,07-Apr-20,BY TRANSFER-Aditya--,TRANSFER FROM 63021937972 ...,0,"3,000.00","3,624.82"
2,07-Apr-20,07-Apr-20,TO TRANSFER-UPI/DR/009811242612/RAJENDRA/UT...,TRANSFER TO 4898828162095,"1,511.00",0,"2,113.82"
3,08-Apr-20,08-Apr-20,BY TRANSFER-UPI/CR/009915560268/GOOGLEPAY/U...,TRANSFER FROM 5098407162098,0,5,"2,118.82"
4,09-Apr-20,09-Apr-20,BY TRANSFER-UPI/CR/010060579589/Paytm Tr/PY...,TRANSFER FROM 5099033162094,0,240,"2,358.82"
...,...,...,...,...,...,...,...
273,08-Mar-21,08-Mar-21,BY TRANSFER-UPI/CR/106769659198/NAMAN S/SB...,TRANSFER FROM 5098852162099,0,55,"2,180.55"
274,08-Mar-21,08-Mar-21,BY TRANSFER-UPI/CR/106707797008/AMAY GAU/PU...,TRANSFER FROM 5098849162094,0,53,"2,233.55"
275,08-Mar-21,08-Mar-21,TO TRANSFER-UPI/DR/106775644296/Shipra E/UT...,TRANSFER TO 5097544162098,100,0,"2,133.55"
276,08-Mar-21,08-Mar-21,by debit card-SBIPG VU9814310184AMAZON ...,0,517,0,"1,616.55"
277,09-Mar-21,09-Mar-21,by debit card-SBIPG VU9815383368AMAZON ...,0,149,0,"1,467.55"

In [6]:
lt_upi = list()
n = 0
for i in df['Description']:
    i = i.lower()
    if "upi" in i:
        lt_upi.append(n)
        n=n+1
lt_upi

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200]

In [54]:
def start_index(csv):
    for i, rows in csv.iterrows():
        if "Credit" in rows.values:
            return i
    return -1

def end_index(csv):
    for i, rows in csv.iterrows():
        if rows["Credit"] == np.nan and rows["Debit"] == np.nan:
            return i
    return -1

In [105]:
csv_reader = pd.read_table(r"C:/Users/asus/OneDrive - IIIT Bhopal\Documents/GitHub/Transaction-graphs/training_data.xls")
start_ind = start_index(csv_reader)
csv_reader = csv_reader[start_ind:]
new_reader = csv_reader.iloc[0]
csv_reader = csv_reader[1:]
csv_reader.columns = new_reader
#csv_reader.columns = csv_reader.iloc[0]
#csv_reader.drop(csv_reader.columns[0], axis=1, inplace=True)
csv_reader = pd.DataFrame(csv_reader,columns=new_reader.values)
csv_reader.reset_index(drop=True, inplace=True)
csv_reader.head()

,Txn Date,Value Date,Description,Ref No./Cheque No.,Debit,Credit,Balance
0,06-Apr-20,06-Apr-20,TO TRANSFER-UPI/DR/009737826388/Paytm Ai/PY...,TRANSFER TO 5097507162092,219,,624.82
1,07-Apr-20,07-Apr-20,BY TRANSFER-Aditya--,TRANSFER FROM 63021937972 ...,,"3,000.00","3,624.82"
2,07-Apr-20,07-Apr-20,TO TRANSFER-UPI/DR/009811242612/RAJENDRA/UT...,TRANSFER TO 4898828162095,"1,511.00",,"2,113.82"
3,08-Apr-20,08-Apr-20,BY TRANSFER-UPI/CR/009915560268/GOOGLEPAY/U...,TRANSFER FROM 5098407162098,,5,"2,118.82"
4,09-Apr-20,09-Apr-20,BY TRANSFER-UPI/CR/010060579589/Paytm Tr/PY...,TRANSFER FROM 5099033162094,,240,"2,358.82"