In [1]:
import os
from tkinter import Tk
import pandas as pd
import numpy as np
from tkinter.filedialog import askopenfilename

In [2]:
def reading_csv():
    #filename = askopenfilename()
    filename = r"C:\Users\asus\OneDrive - IIIT Bhopal\Documents\GitHub\Transactions_tracking/training_data.xls"
    csv_reader = pd.read_table(filename, engine="python")
    start_ind = start_index(csv_reader)
    csv_reader = csv_reader[start_ind:]
    new_reader = csv_reader.iloc[0]
    csv_reader = csv_reader[1:]
    csv_reader.columns = new_reader
    new_columns = []
    for i in new_reader.values:
        j = i.lower()
        if "debit" in j:
            i = "Debit"
        elif "credit" in j:
            i = "Credit"
        new_columns.append(i)        
    csv_reader = pd.DataFrame(csv_reader,columns=new_reader.values)
    csv_reader.columns = new_columns
    csv_reader.reset_index(drop=True, inplace=True)
    end_ind = end_index(csv_reader)
    csv_reader = csv_reader[:end_ind-1]
    csv_reader = creating_table(csv_reader)
    #print(csv_reader.head())
    #csv_reader = int_conversion(csv_reader)
    return csv_reader

In [3]:
def start_index(csv):
    for i, rows in csv.iterrows():
        if "Credit" in rows.values:
            return i
    return -1

def end_index(csv):
    for i, rows in csv.iterrows():
        if np.nan in rows.values:
            return i
    return -1

In [4]:
def creating_table(csv):
    csv.fillna(0.00, inplace=True)
    for col in csv.columns:
        csv[col] = csv[col].replace([" "], 0.00)
    return csv

In [5]:
csv = reading_csv()
csv.tail()

,Txn Date,Value Date,Description,Ref No./Cheque No.,Debit,Credit,Balance
273,08-Mar-21,08-Mar-21,BY TRANSFER-UPI/CR/106769659198/NAMAN S/SB...,TRANSFER FROM 5098852162099,0,55,"2,180.55"
274,08-Mar-21,08-Mar-21,BY TRANSFER-UPI/CR/106707797008/AMAY GAU/PU...,TRANSFER FROM 5098849162094,0,53,"2,233.55"
275,08-Mar-21,08-Mar-21,TO TRANSFER-UPI/DR/106775644296/Shipra E/UT...,TRANSFER TO 5097544162098,100,0,"2,133.55"
276,08-Mar-21,08-Mar-21,by debit card-SBIPG VU9814310184AMAZON ...,0,517,0,"1,616.55"
277,09-Mar-21,09-Mar-21,by debit card-SBIPG VU9815383368AMAZON ...,0,149,0,"1,467.55"

In [6]:
csv.sum()

Series([], dtype: float64)

In [7]:
sum = 0
for i, rows in csv.iterrows():
    i = rows['Debit']
    if "float" not in str(type(i)):
        i = i.replace(",","")
    sum = sum + float(i)
print(sum)

453092.52

In [8]:
def turn_to_table(arr, csv):
    df = pd.DataFrame(columns=csv.columns)
    for i, rows in csv.iterrows():
        if i in arr:
            dct = dict(rows)
            df1 = pd.DataFrame(dct, index=range(1))
            df = pd.concat([df, df1])
            df.reset_index(drop=True, inplace=True)
    return df

In [9]:
def check_upi(df):
    lt_upi = list()
    n = 0
    for i in df["Description"]:
        if "float" not in str(type(i)):
            i = i.lower()
            if "upi" in i:
                lt_upi.append(n)
            n=n+1
    return lt_upi

In [10]:
lt_upi = check_upi(csv)
print(len(lt_upi))
df_upi = turn_to_table(lt_upi, csv)

201

In [11]:
df_upi.head()

,Txn Date,Value Date,Description,Ref No./Cheque No.,Debit,Credit,Balance
0,06-Apr-20,06-Apr-20,TO TRANSFER-UPI/DR/009737826388/Paytm Ai/PY...,TRANSFER TO 5097507162092,219,0,624.82
1,07-Apr-20,07-Apr-20,TO TRANSFER-UPI/DR/009811242612/RAJENDRA/UT...,TRANSFER TO 4898828162095,"1,511.00",0,"2,113.82"
2,08-Apr-20,08-Apr-20,BY TRANSFER-UPI/CR/009915560268/GOOGLEPAY/U...,TRANSFER FROM 5098407162098,0,5,"2,118.82"
3,09-Apr-20,09-Apr-20,BY TRANSFER-UPI/CR/010060579589/Paytm Tr/PY...,TRANSFER FROM 5099033162094,0,240,"2,358.82"
4,09-Apr-20,09-Apr-20,BY TRANSFER-UPI/CR/010060641015/Paytm Tr/PY...,TRANSFER FROM 4899355162094,0,240,"2,598.82"

In [12]:
def summing(csv):
    sum_lt = 0
    for i, rows in csv.iterrows():
        i = rows['Debit']
        if "float" not in str(type(i)):
            i = i.replace(",","")
        sum_lt = sum_lt + float(i)
    return sum_lt

In [13]:
sum_upi = summing(df_upi)
print(sum_upi)

270532.0

In [29]:
import datetime as dt
from collections import defaultdict
dct_month = defaultdict(list)
for i,rows in csv.iterrows():
    d = rows[0]
    temp_d = d[:len(d)-2] +"20"+ d[len(d)-2:] 
    date_obj = dt.datetime.strptime(temp_d, "%d-%b-%Y")
    month = date_obj.month
    year = date_obj.year
    month = str(month)+" "+str(year)
    dct_month[str(month)].append(i)

In [30]:
import matplotlib.pyplot as plt
import numpy as np
def bar_graph(dct_debit, dct_credit):
    xpos = list(dct_debit.keys())
    ypos1 = list(dct_debit.values())
    ypos2 = list(dct_credit.values())
    ypos = np.arange(len(dct_debit))
    plt.xticks(ypos, xpos)
    plt.barh(ypos1,ypos-0.2, width=0.4, label="Debit")
    plt.barh(ypos2,ypos+0.2, width=0.4,label="Credit")
    plt.ylabel("Amount(in Rs)")
    plt.title('Transactions')
    plt.legend()
    return 0

In [31]:
dct_month.keys()

dict_keys(['4 2020', '5 2020', '6 2020', '7 2020', '8 2020', '9 2020', '10 2020', '11 2020', '12 2020', '1 2021', '2 2021', '3 2021'])

In [32]:
def summing(csv):
    sum_lt = [0,0]
    for i, rows in csv.iterrows():
        i = rows['Debit']
        if "str" in str(type(i)):
            i = i.replace(",","")
        sum_lt[0] = sum_lt[0] + float(i)
        i = rows["Credit"]
        if "str" in str(type(i)):
            i = i.replace(",","")
        sum_lt[1] = sum_lt[1] + float(i)    
    return sum_lt

In [33]:
def sum_list(dct,csv):
    dct_sum_debit = dict()
    dct_sum_credit = dict()
    for i in dct:
        df = turn_to_table(dct[i],csv)
        sm = summing(df)
        dct_sum_debit[str(i)] = sm[0]
        dct_sum_credit[str(i)] = sm[1]
    return [dct_sum_debit,dct_sum_credit]

In [54]:
dct_ans = sum_list(dct_month, csv)
#bar_graph(dct_ans[0], dct_ans[1])

In [55]:
import calendar
def convert_keys(dct):
    dct_debit, dct_credit = dct
    new_dct_debit = dict()
    new_dct_credit = dict()
    print(dct_debit.keys())
    for i in dct_debit.keys():
        splt = i.split()
        new_i = f"{calendar.month_name[int(splt[0])]} {splt[1]}"
        print(new_i)
        new_dct_debit[new_i] = dct_debit[i]
        print(dct_debit.keys())
    for i in dct_credit.keys():
        splt = i.split()
        print(splt[0], splt[1])
        new_i = f"{calendar.month_name[int(splt[0])]} {splt[1]}"
        new_dct_credit[new_i] = dct_credit[i]
    return [new_dct_debit,new_dct_credit]

In [56]:
dct_as = convert_keys(dct_ans)
print(dct_as)

dict_keys(['4 2020', '5 2020', '6 2020', '7 2020', '8 2020', '9 2020', '10 2020', '11 2020', '12 2020', '1 2021', '2 2021', '3 2021'])
April 2020
dict_keys(['4 2020', '5 2020', '6 2020', '7 2020', '8 2020', '9 2020', '10 2020', '11 2020', '12 2020', '1 2021', '2 2021', '3 2021'])
May 2020
dict_keys(['4 2020', '5 2020', '6 2020', '7 2020', '8 2020', '9 2020', '10 2020', '11 2020', '12 2020', '1 2021', '2 2021', '3 2021'])
June 2020
dict_keys(['4 2020', '5 2020', '6 2020', '7 2020', '8 2020', '9 2020', '10 2020', '11 2020', '12 2020', '1 2021', '2 2021', '3 2021'])
July 2020
dict_keys(['4 2020', '5 2020', '6 2020', '7 2020', '8 2020', '9 2020', '10 2020', '11 2020', '12 2020', '1 2021', '2 2021', '3 2021'])
August 2020
dict_keys(['4 2020', '5 2020', '6 2020', '7 2020', '8 2020', '9 2020', '10 2020', '11 2020', '12 2020', '1 2021', '2 2021', '3 2021'])
September 2020
dict_keys(['4 2020', '5 2020', '6 2020', '7 2020', '8 2020', '9 2020', '10 2020', '11 2020', '12 2020', '1 2021', '2 2021', '3 2021'])
October 2020
dict_keys(['4 2020', '5 2020', '6 2020', '7 2020', '8 2020', '9 2020', '10 2020', '11 2020', '12 2020', '1 2021', '2 2021', '3 2021'])
November 2020
dict_keys(['4 2020', '5 2020', '6 2020', '7 2020', '8 2020', '9 2020', '10 2020', '11 2020', '12 2020', '1 2021', '2 2021', '3 2021'])
December 2020
dict_keys(['4 2020', '5 2020', '6 2020', '7 2020', '8 2020', '9 2020', '10 2020', '11 2020', '12 2020', '1 2021', '2 2021', '3 2021'])
January 2021
dict_keys(['4 2020', '5 2020', '6 2020', '7 2020', '8 2020', '9 2020', '10 2020', '11 2020', '12 2020', '1 2021', '2 2021', '3 2021'])
February 2021
dict_keys(['4 2020', '5 2020', '6 2020', '7 2020', '8 2020', '9 2020', '10 2020', '11 2020', '12 2020', '1 2021', '2 2021', '3 2021'])
March 2021
dict_keys(['4 2020', '5 2020', '6 2020', '7 2020', '8 2020', '9 2020', '10 2020', '11 2020', '12 2020', '1 2021', '2 2021', '3 2021'])
4 2020
5 2020
6 2020
7 2020
8 2020
9 2020
10 2020
11 2020
12 2020
1 2021
2 2021
3 2021
[{'April 2020': 10586.0, 'May 2020': 41272.0, 'June 2020': 20080.0, 'July 2020': 67553.0, 'August 2020': 10698.75, 'September 2020': 23985.0, 'October 2020': 25798.0, 'November 2020': 25988.760000000002, 'December 2020': 85701.0, 'January 2021': 70010.01, 'February 2021': 67760.0, 'March 2021': 3660.0}, {'April 2020': 18485.0, 'May 2020': 34080.0, 'June 2020': 40634.0, 'July 2020': 49000.0, 'August 2020': 11818.0, 'September 2020': 33256.25, 'October 2020': 13459.0, 'November 2020': 29633.0, 'December 2020': 81241.0, 'January 2021': 73932.0, 'February 2021': 67070.0, 'March 2021': 1108.0}]