In [1]:
import os
from tkinter import Tk
import pandas as pd

In [24]:
def reading_csv():
    csv_reader = pd.read_table(r"C:/Users/asus/OneDrive - IIIT Bhopal\Documents/GitHub/Transactions_tracking/training_data.xls", header=20)
    return csv_reader

In [25]:
def creating_table(csv):
    print()

In [26]:
if __name__=="__main__":
    csv = reading_csv()
    print(csv.head())

ParserError: Error tokenizing data. C error: Expected 2 fields in line 27, saw 3

In [20]:
df = pd.read_table(r"C:/Users/asus/OneDrive - IIIT Bhopal\Documents/GitHub/Transactions_tracking/training_data.xls", header=19, skipfooter=2)
df.fillna(0, inplace=True)
for a in df.columns:
    df[a] = df[a].replace([" "],0)
df

C:\Users\asus\anaconda3\lib\site-packages\pandas\io\parsers.py:765: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  return read_csv(**locals())

,Txn Date,Value Date,Description,Ref No./Cheque No.,Debit,Credit,Balance
0,06-Apr-20,06-Apr-20,TO TRANSFER-UPI/DR/009737826388/Paytm Ai/PY...,TRANSFER TO 5097507162092,219,0,624.82
1,07-Apr-20,07-Apr-20,BY TRANSFER-Aditya--,TRANSFER FROM 63021937972 ...,0,"3,000.00","3,624.82"
2,07-Apr-20,07-Apr-20,TO TRANSFER-UPI/DR/009811242612/RAJENDRA/UT...,TRANSFER TO 4898828162095,"1,511.00",0,"2,113.82"
3,08-Apr-20,08-Apr-20,BY TRANSFER-UPI/CR/009915560268/GOOGLEPAY/U...,TRANSFER FROM 5098407162098,0,5,"2,118.82"
4,09-Apr-20,09-Apr-20,BY TRANSFER-UPI/CR/010060579589/Paytm Tr/PY...,TRANSFER FROM 5099033162094,0,240,"2,358.82"
...,...,...,...,...,...,...,...
273,08-Mar-21,08-Mar-21,BY TRANSFER-UPI/CR/106769659198/NAMAN S/SB...,TRANSFER FROM 5098852162099,0,55,"2,180.55"
274,08-Mar-21,08-Mar-21,BY TRANSFER-UPI/CR/106707797008/AMAY GAU/PU...,TRANSFER FROM 5098849162094,0,53,"2,233.55"
275,08-Mar-21,08-Mar-21,TO TRANSFER-UPI/DR/106775644296/Shipra E/UT...,TRANSFER TO 5097544162098,100,0,"2,133.55"
276,08-Mar-21,08-Mar-21,by debit card-SBIPG VU9814310184AMAZON ...,0,517,0,"1,616.55"
277,09-Mar-21,09-Mar-21,by debit card-SBIPG VU9815383368AMAZON ...,0,149,0,"1,467.55"

In [ ]:
lt_upi = list()
n = 0
for i in df['Description']:
    i = i.lower()
    if "upi" in i:
        lt_upi.append(n)
        n=n+1
lt_upi

In [ ]:
def start_index(csv):
    for i, rows in csv.iterrows():
        if "Credit" in rows.values:
            return i
    return -1

def end_index(csv):
    for i, rows in csv.iterrows():
        if np.nan in rows.values:
            return i
    return -1

In [ ]:
import numpy as np
csv_reader = pd.read_table(r"C:/Users/asus/OneDrive - IIIT Bhopal\Documents/GitHub/Transaction-graphs/training_data.xls")
start_ind = start_index(csv_reader)
csv_reader = csv_reader[start_ind:]
new_reader = csv_reader.iloc[0]
csv_reader = csv_reader[1:]
csv_reader.columns = new_reader
csv_reader = pd.DataFrame(csv_reader,columns=new_reader.values)
csv_reader.reset_index(drop=True, inplace=True)
end_ind = end_index(csv_reader)
csv_reader = csv_reader[:end_ind-1]
csv_reader.tail()