In [1]:
import os
from tkinter import Tk
import pandas as pd
import numpy as np

In [2]:
def reading_csv():
    csv_reader = pd.read_table(r"C:/Users/asus/OneDrive - IIIT Bhopal\Documents/GitHub/Transactions_tracking/training_data.xls", engine="python")
    start_ind = start_index(csv_reader)
    csv_reader = csv_reader[start_ind:]
    new_reader = csv_reader.iloc[0]
    csv_reader = csv_reader[1:]
    csv_reader.columns = new_reader
    new_columns = []
    for i in new_reader.values:
        j = i.lower()
        if "debit" in j:
            i = "Debit"
        elif "credit" in j:
            i = "Credit"
        new_columns.append(i)        
    csv_reader = pd.DataFrame(csv_reader,columns=new_reader.values)
    csv_reader.columns = new_columns
    csv_reader.reset_index(drop=True, inplace=True)
    end_ind = end_index(csv_reader)
    csv_reader = csv_reader[:end_ind]
    csv_reader = creating_table(csv_reader)
    #print(csv_reader.head())
    #csv_reader = int_conversion(csv_reader)
    return csv_reader

In [3]:
def start_index(csv):
    for i, rows in csv.iterrows():
        if "Credit" in rows.values:
            return i
    return -1

def end_index(csv):
    for i, rows in csv.iterrows():
        if np.nan in rows.values:
            return i
    return -1

In [4]:
def creating_table(csv):
    csv.fillna(0.00, inplace=True)
    for col in csv.columns:
        csv[col] = csv[col].replace([" "], 0.00)
    return csv

In [5]:
csv = reading_csv()
csv.head(15)

,Txn Date,Value Date,Description,Ref No./Cheque No.,Debit,Credit,Balance
0,06-Apr-20,06-Apr-20,TO TRANSFER-UPI/DR/009737826388/Paytm Ai/PY...,TRANSFER TO 5097507162092,219,0,624.82
1,07-Apr-20,07-Apr-20,BY TRANSFER-Aditya--,TRANSFER FROM 63021937972 ...,0,"3,000.00","3,624.82"
2,07-Apr-20,07-Apr-20,TO TRANSFER-UPI/DR/009811242612/RAJENDRA/UT...,TRANSFER TO 4898828162095,"1,511.00",0,"2,113.82"
3,08-Apr-20,08-Apr-20,BY TRANSFER-UPI/CR/009915560268/GOOGLEPAY/U...,TRANSFER FROM 5098407162098,0,5,"2,118.82"
4,09-Apr-20,09-Apr-20,BY TRANSFER-UPI/CR/010060579589/Paytm Tr/PY...,TRANSFER FROM 5099033162094,0,240,"2,358.82"
5,09-Apr-20,09-Apr-20,BY TRANSFER-UPI/CR/010060641015/Paytm Tr/PY...,TRANSFER FROM 4899355162094,0,240,"2,598.82"
6,10-Apr-20,10-Apr-20,BY TRANSFER-UPI/CR/010117339028/SEEMA TR/BA...,TRANSFER FROM 5099166162093,0,"5,000.00","7,598.82"
7,13-Apr-20,13-Apr-20,TO TRANSFER-UPI/DR/010491746061/Paytm/PYTM/...,TRANSFER TO 5097545162097,165,0,"7,433.82"
8,14-Apr-20,14-Apr-20,TO TRANSFER-UPI/DR/010504273476/RELIANCE/CI...,TRANSFER TO 5097627162096,51,0,"7,382.82"
9,15-Apr-20,15-Apr-20,TO TRANSFER-UPI/DR/010612683786/Paytm Ai/PY...,TRANSFER TO 4898281162093,48,0,"7,334.82"
10,20-Apr-20,20-Apr-20,BY TRANSFER-Adi--,TRANSFER FROM 63021937972 ...,0,"5,000.00","12,334.82"
11,21-Apr-20,21-Apr-20,TO TRANSFER-UPI/DR/011260654911/Paytm DT/PY...,TRANSFER TO 5097626162097,400,0,"11,934.82"
12,21-Apr-20,21-Apr-20,TO TRANSFER-UPI/DR/011260667161/Paytm Id/PY...,TRANSFER TO 5097635162096,149,0,"11,785.82"
13,21-Apr-20,21-Apr-20,TO TRANSFER-UPI/DR/011260712968/Paytm Ut/PY...,TRANSFER TO 5097622162091,95,0,"11,690.82"
14,21-Apr-20,21-Apr-20,BY TRANSFER-Adi--,TRANSFER FROM 63021937972 ...,0,"5,000.00","16,690.82"

In [6]:
csv.sum()

Series([], dtype: float64)

In [7]:
sum = 0
for i, rows in csv.iterrows():
    i = rows['Debit']
    if "float" not in str(type(i)):
        i = i.replace(",","")
    sum = sum + float(i)
print(sum)

453092.52

In [8]:
def turn_to_table(arr, csv):
    df = pd.DataFrame(columns=csv.columns)
    for i, rows in csv.iterrows():
        if i in arr:
            dct = dict(rows)
            df1 = pd.DataFrame(dct, index=range(1))
            df = pd.concat([df, df1])
            df.reset_index(drop=True, inplace=True)
    return df

In [11]:
def check_upi(df):
    lt_upi = list()
    n = 0
    for i in df["Description"]:
        if "float" not in str(type(i)):
            i = i.lower()
            if "upi" in i:
                lt_upi.append(n)
            n=n+1
    return lt_upi

In [12]:
lt_upi = check_upi(csv)
print(len(lt_upi))
df_upi = turn_to_table(lt_upi, csv)

201

In [13]:
df_upi.head()

,Txn Date,Value Date,Description,Ref No./Cheque No.,Debit,Credit,Balance
0,06-Apr-20,06-Apr-20,TO TRANSFER-UPI/DR/009737826388/Paytm Ai/PY...,TRANSFER TO 5097507162092,219,0,624.82
1,07-Apr-20,07-Apr-20,TO TRANSFER-UPI/DR/009811242612/RAJENDRA/UT...,TRANSFER TO 4898828162095,"1,511.00",0,"2,113.82"
2,08-Apr-20,08-Apr-20,BY TRANSFER-UPI/CR/009915560268/GOOGLEPAY/U...,TRANSFER FROM 5098407162098,0,5,"2,118.82"
3,09-Apr-20,09-Apr-20,BY TRANSFER-UPI/CR/010060579589/Paytm Tr/PY...,TRANSFER FROM 5099033162094,0,240,"2,358.82"
4,09-Apr-20,09-Apr-20,BY TRANSFER-UPI/CR/010060641015/Paytm Tr/PY...,TRANSFER FROM 4899355162094,0,240,"2,598.82"

In [14]:
def summing(csv):
    sum_lt = 0
    for i, rows in csv.iterrows():
        i = rows['Debit']
        if "float" not in str(type(i)):
            i = i.replace(",","")
        sum_lt = sum_lt + float(i)
    print(sum_lt)
    return sum_lt

In [16]:
sum_upi = summing(df_upi)
print(sum_upi)

270532.0
270532.0

In [23]:
import datetime as dt
from collections import defaultdict
dct_month = defaultdict()
for i,rows in csv.iterrows():
    d = rows[0]
    temp_d = d[:len(d)-2] +"20"+ d[len(d)-2:] 
    date_obj = dt.datetime.strptime(temp_d, "%d-%b-%Y")
    month = date_obj.month

<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>

TypeError: object of type 'float' has no len()