In [1]:
import os
from tkinter import Tk
import pandas as pd
import numpy as np

In [2]:
def reading_csv():
    csv_reader = pd.read_table(r"C:/Users/asus/OneDrive - IIIT Bhopal\Documents/GitHub/Transactions_tracking/training_data.xls", engine="python")
    start_ind = start_index(csv_reader)
    csv_reader = csv_reader[start_ind:]
    new_reader = csv_reader.iloc[0]
    csv_reader = csv_reader[1:]
    csv_reader.columns = new_reader
    new_columns = []
    for i in new_reader.values:
        j = i.lower()
        if "debit" in j:
            i = "Debit"
        elif "credit" in j:
            i = "Credit"
        new_columns.append(i)        
    csv_reader = pd.DataFrame(csv_reader,columns=new_reader.values)
    csv_reader.columns = new_columns
    csv_reader.reset_index(drop=True, inplace=True)
    end_ind = end_index(csv_reader)
    csv_reader = csv_reader[:end_ind]
    csv_reader = creating_table(csv_reader)
    print(csv_reader.head())
    csv_reader = int_conversion(csv_reader)
    return csv_reader

In [3]:
def start_index(csv):
    for i, rows in csv.iterrows():
        if "Credit" in rows.values:
            return i
    return -1

def end_index(csv):
    for i, rows in csv.iterrows():
        if np.nan in rows.values:
            return i
    return -1

In [4]:
def int_conversion(csv):
    if "float" not in str(csv['Debit'].dtypes): 
        for i in csv["Debit"]:
            j = 0.00
            if "float" not in str(type(i)):
                j = i.replace(',',"")
                j = float(j)    
            csv['Debit'] = csv['Debit'].replace(i,j)
            print(i, j)
    if "float" not in str(csv['Credit'].dtypes):
        for i in csv["Credit"]:
            j = 0.00
            if "float" not in str(type(i)):
                j = i.replace(',',"")
                j = float(j)
            csv['Credit'] = csv['Credit'].replace(i,j)
    if "float" not in str(csv['Balance'].dtypes):
        for i in csv['Balance']:
            j = 0.00
            if "float" not in str(type(i)):
                j = i.replace(',',"")
                j = float(j)
            csv['Balance'] = csv['Balance'].replace(i,j)
    return csv

def creating_table(csv):
    csv.fillna(0.00, inplace=True)
    for col in csv.columns:
        csv[col] = csv[col].replace([" "], 0.00)
    return csv

In [5]:
csv = reading_csv()
csv.head(15)

    Txn Date Value Date                                        Description  \
0  06-Apr-20  06-Apr-20     TO TRANSFER-UPI/DR/009737826388/Paytm Ai/PY...
1  07-Apr-20  07-Apr-20                               BY TRANSFER-Aditya--
2  07-Apr-20  07-Apr-20     TO TRANSFER-UPI/DR/009811242612/RAJENDRA/UT...
3  08-Apr-20  08-Apr-20     BY TRANSFER-UPI/CR/009915560268/GOOGLEPAY/U...
4  09-Apr-20  09-Apr-20     BY TRANSFER-UPI/CR/010060579589/Paytm Tr/PY...

                                  Ref No./Cheque No.     Debit    Credit  \
0                          TRANSFER TO 5097507162092       219         0
1  TRANSFER FROM 63021937972                     ...         0  3,000.00
2                          TRANSFER TO 4898828162095  1,511.00         0
3                        TRANSFER FROM 5098407162098         0         5
4                        TRANSFER FROM 5099033162094         0       240

    Balance
0    624.82
1  3,624.82
2  2,113.82
3  2,118.82
4  2,358.82
219 219.0
0.0 0.0
1,511.00 1511.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
165 165.0
51 51.0
48 48.0
0.0 0.0
400 400.0
149 149.0
95 95.0
0.0 0.0
2,948.00 2948.0
5,000.00 5000.0
39 39.0
0.0 0.0
444 444.0
0.0 0.0
20,000.00 20000.0
199 199.0
0.0 0.0
10,000.00 10000.0
0.0 0.0
0.0 0.0
6,000.00 6000.0
100 100.0
50 50.0
0.0 0.0
3,167.00 3167.0
239 239.0
149.0 0.0
206 206.0
400.0 0.0
129 129.0
150 150.0
219.0 0.0
107 107.0
258 258.0
199.0 0.0
0.0 0.0
2,518.00 2518.0
0.0 0.0
92 92.0
113 113.0
0.0 0.0
574 574.0
3,000.00 3000.0
0.0 0.0
10000.0 0.0
0.0 0.0
0.0 0.0
3000.0 0.0
0.0 0.0
249 249.0
0.0 0.0
444.0 0.0
19,000.00 19000.0
0.0 0.0
0.0 0.0
20000.0 0.0
399 399.0
258.0 0.0
49 49.0
0.0 0.0
200 200.0
200.0 0.0
2,000.00 2000.0
0.0 0.0
129.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
398 398.0
0.0 0.0
0.0 0.0
0.0 0.0
500 500.0
49.0 0.0
0.0 0.0
0.0 0.0
1,000.00 1000.0
913 913.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
2000.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
4,000.00 4000.0
0.0 0.0
0.0 0.0
962 962.0
98 98.0
270 270.0
251 251.0
0.0 0.0
0.0 0.0
148.75 148.75
0.0 0.0
105 105.0
300 300.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
500.0 0.0
0.0 0.0
100.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
5 5.0
3,495.00 3495.0
0.0 0.0
0.0 0.0
0.0 0.0
6,667.00 6667.0
0.0 0.0
0.0 0.0
0.0 0.0
1,242.00 1242.0
379 379.0
0.0 0.0
0.0 0.0
39.0 0.0
0.0 0.0
0.0 0.0
7,315.00 7315.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
1,060.00 1060.0
0.0 0.0
985 985.0
265 265.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
173 173.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
1000.0 0.0
0.0 0.0
800 800.0
0.0 0.0
1,135.00 1135.0
0.0 0.0
0.0 0.0
1,020.00 1020.0
0.0 0.0
5000.0 0.0
414.76 414.76
13,000.00 13000.0
2,500.00 2500.0
0.0 0.0
0.0 0.0
298 298.0
0.0 0.0
463 463.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
122 122.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
178 178.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
45,000.00 45000.0
101 101.0
0.0 0.0
298.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
3,500.00 3500.0
2500.0 0.0
1,900.00 1900.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
390 390.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
101.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
40,000.00 40000.0
0.0 0.0
397.01 397.01
0.0 0.0
681 681.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
795 795.0
220 220.0
0.0 0.0
20 20.0
0.0 0.0
0.0 0.0
0.0 0.0
1,559.00 1559.0
32,250.00 32250.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
1,299.00 1299.0
0.0 0.0
151 151.0
0.0 0.0
0.0 0.0
830 830.0
30 30.0
0.0 0.0
0.0 0.0
0.0 0.0
1,500.00 1500.0
0.0 0.0
0.0 0.0
12,000.00 12000.0
0.0 0.0
0.0 0.0
0.0 0.0
600 600.0
0.0 0.0
2,036.00 2036.0
0.0 0.0
0.0 0.0
0.0 0.0
517 517.0
0.0 0.0
0.0 0.0

,Txn Date,Value Date,Description,Ref No./Cheque No.,Debit,Credit,Balance
0,06-Apr-20,06-Apr-20,TO TRANSFER-UPI/DR/009737826388/Paytm Ai/PY...,TRANSFER TO 5097507162092,0.0,0.0,624.82
1,07-Apr-20,07-Apr-20,BY TRANSFER-Aditya--,TRANSFER FROM 63021937972 ...,0.0,0.0,3624.82
2,07-Apr-20,07-Apr-20,TO TRANSFER-UPI/DR/009811242612/RAJENDRA/UT...,TRANSFER TO 4898828162095,1511.0,0.0,2113.82
3,08-Apr-20,08-Apr-20,BY TRANSFER-UPI/CR/009915560268/GOOGLEPAY/U...,TRANSFER FROM 5098407162098,0.0,0.0,2118.82
4,09-Apr-20,09-Apr-20,BY TRANSFER-UPI/CR/010060579589/Paytm Tr/PY...,TRANSFER FROM 5099033162094,0.0,0.0,2358.82
5,09-Apr-20,09-Apr-20,BY TRANSFER-UPI/CR/010060641015/Paytm Tr/PY...,TRANSFER FROM 4899355162094,0.0,0.0,2598.82
6,10-Apr-20,10-Apr-20,BY TRANSFER-UPI/CR/010117339028/SEEMA TR/BA...,TRANSFER FROM 5099166162093,0.0,0.0,7598.82
7,13-Apr-20,13-Apr-20,TO TRANSFER-UPI/DR/010491746061/Paytm/PYTM/...,TRANSFER TO 5097545162097,165.0,0.0,7433.82
8,14-Apr-20,14-Apr-20,TO TRANSFER-UPI/DR/010504273476/RELIANCE/CI...,TRANSFER TO 5097627162096,51.0,0.0,7382.82
9,15-Apr-20,15-Apr-20,TO TRANSFER-UPI/DR/010612683786/Paytm Ai/PY...,TRANSFER TO 4898281162093,48.0,0.0,7334.82
10,20-Apr-20,20-Apr-20,BY TRANSFER-Adi--,TRANSFER FROM 63021937972 ...,0.0,0.0,12334.82
11,21-Apr-20,21-Apr-20,TO TRANSFER-UPI/DR/011260654911/Paytm DT/PY...,TRANSFER TO 5097626162097,0.0,0.0,11934.82
12,21-Apr-20,21-Apr-20,TO TRANSFER-UPI/DR/011260667161/Paytm Id/PY...,TRANSFER TO 5097635162096,0.0,0.0,11785.82
13,21-Apr-20,21-Apr-20,TO TRANSFER-UPI/DR/011260712968/Paytm Ut/PY...,TRANSFER TO 5097622162091,95.0,0.0,11690.82
14,21-Apr-20,21-Apr-20,BY TRANSFER-Adi--,TRANSFER FROM 63021937972 ...,0.0,0.0,16690.82